#content {
    display: flex;
    flex-direction: row;
}

#left-margin {
    flex: 1 1 0;
}

#right-margin {
    flex: 2 1 0;
}

#inner-content {
    flex: 1 1 auto;
}

#inner-content h1 {
    font-size: 40px;
    margin-bottom: 30px;
}

div .form-field {
    margin-top: 16px;
}

.form-check {
    margin-left: 30px;
}

#userinfo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#userbadge {
    flex: 1 1 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px;
}