#content {
    display: flex;
}

.contentpanel {
    flex: 1 1 0;
}

#top_riddlrs {
    /* TODO figure this out */
    flex: 1 0 0;
}

#top_riddlrs li {
    display: flex;
    align-items: center;
    border-top: 0;
    padding: 25px 0px;
}

#top_riddlrs img {
    height: 70px;
    width: 70px;
}

#top_riddlrs .infocard {
    padding-left: 20px;
    flex: initial;
}

#top_riddlrs li span {
    display: block;
    padding: 0px;
}

#top_riddlrs .name {
    font-size: 20px;
}