#content {
    display: flex;
}

#left-margin {
    flex: 1 1 0;
}

#right-margin {
    flex: 2 1 0;
}

#vote-container {
    flex: 0 0 auto;
    justify-self: end;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
}

#vote-container div {
    flex: initial;
    height: 157px;
}

#vote-container span {
    padding: 4px;
    font-size: 20px;
}

#vote-container img {
    height: 40px;
    width: 40px;
}


#inner-content {
    flex: 1 1 auto;
    max-width: 750px;
}

#author {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}

#author img {
    height: 100px;
    width: 100px;
    margin: 20px;
    flex: initial;
}

#author span {
    font-size: 26px;
    flex: initial;
}

#question {
    border: 1px solid rgba(0,0,0,0.5);
    padding: 40px;
    font-size: 26px;
    margin: 16px 0;
}

#inner-content input, button {
    margin-top: 16px;
}

#login-prompt {
    display: flex;
    align-items: center;
    justify-content: start;
}

#login-prompt span {
    padding-left: 8px;
}

.resultbox {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-top: 16px;
    padding: 16px;
}

.resultbox.correct {
    background: #D4F6AD;
}

.resultbox.incorrect {
    background: #FF7777;
}

.resultbox img {
    height: 40px;
    width: 40px;
    opacity: 0.4;
}

.resultbox span {
    padding-left: 16px;
}

#riddle-info {
    margin-top: 16px;
}