html, body {
    height: 85%;
}

body {
    display: flex;
    flex-direction: column;
}

#headerbox {
    flex: initial
}

#content {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#left-margin {
    flex: 1 1 0;
}

#right-margin {
    flex: 1 1 0;
}

#inner-content {
    flex: 0 1 300px;
}

#inner-content h1 {
    font-size: 40px;
    margin-bottom: 30px;
}

#inner-content input {
    margin: 16px 0px;
}