#content {
    display: flex;
}

#left-margin {
    flex: 1 1 0;
}

#right-margin {
    flex: 2 1 0;
}

#inner-content {
    flex: 1 1 auto;
    max-width: 750px;
}

#author {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}

#author img {
    height: 70px;
    width: 70px;
    flex: initial;
}

#author span {
    padding-left: 20px;
    flex: initial;
}

#question {
    border: 1px solid rgba(0,0,0,0.5);
    padding: 40px;
    font-size: 26px;
    margin: 16px 0;
}

#inner-content input, button {
    margin-top: 16px;
}

#login-prompt {
    display: flex;
    align-items: center;
    justify-content: start;
}

#login-prompt span {
    padding-left: 8px;
}

.resultbox {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-top: 16px;
    padding: 16px;
}

.resultbox img {
    height: 30px;
    width: 30px;
    opacity: 0.5;
}

.resultbox.correct {
    background: #D4F6AD;
}

.resultbox.incorrect {
    background: #FF5252;
}