body {
    color: rgba(0, 0, 0, 0.7);
}

a:not(.btn) {
    color: rgba(0, 0, 0, 0.5);
    text-decoration: inherit;
}

a:hover:not(.btn) {
    text-decoration: underline;
}

#headerbox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #EFF0F1;
}

#logo {
    flex: 1 1 auto;
    font-family: 'Indie Flower',-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    color: rgba(0, 0, 0, 0.7);
    font-size: 94px;
    padding-left: 15px;
    padding-right: 10px;
    text-align: center;
}

#logo:hover {
    text-decoration: none;
}

#menubar {
    flex: 5 1 auto;
    /* because justify-self still isnt properly supported */
    margin-right: auto;
    margin-bottom: 0;
    padding-left: 0;
}

#menubar li {
    list-style-type: none;
    display: inline;
    padding: 0 10px 0;
    font-size: 26px;
}

#menubar li+li {
    border-left: 1px solid rgba(0, 0, 0, 0.5);
}

#accountbuttons {
    flex: 0 0 auto;
    justify-self: flex-end;
    padding: 10px 25px 10px 10px;
}

#accountbuttons a {
    display: block;
}

#accountbuttons a+a {
    margin-top: 10px;
}

#myprofile {
    text-align: center;
}

#content {
    padding: 30px;
}

/* below here are general styles not just for the base template */

.contentpanel {
    margin: 20px;
}

.contentpanel .card-block {
    padding: 20px 40px;
}

.card-header {
    background: #EFF0F1;
    font-size: 20px;
    line-height: 28px;
}

.card-header span {
    font-size: 16px;
    float: right;
}

/* TODO put this in home.css and make it work */
#contentbox {
    display: flex;
}

.contentpanel {
    flex: 1 1 0;
}

.contentpanel ul {
    padding-left: 0;
}

.contentpanel li {
    list-style-type: none;
    padding: 20px 0 20px;
}

.contentpanel li+li {
    border-top: 1px solid rgba(0,0,0,0.5);
}

#top_riddlrs {
    /* TODO figure this out */
    flex: 1 0 0;
}

#top_riddlrs li {
    display: flex;
    align-items: center;
    border-top: 0;
    padding: 30px 0 30px;
}

#top_riddlrs img {
    height: 70px;
    width: 70px;
}

#top_riddlrs .infocard {
    padding-left: 20px;
    flex: initial;
}

#top_riddlrs li span {
    display: block;
    padding: 0px;
}

#top_riddlrs .name {
    font-size: 20px;
}