{% extends 'riddlr/base.html' %}

{% load staticfiles %}
{% block headcontent %}
<link rel="stylesheet" href="{% static 'css/about.css' %}">
{% endblock %}

{% block title_block %}
  About
{% endblock %}

{% block body_block %}
  <div class="margin"></div>
  <div id="inner-content">
    <h1 class="display-2">Our Mission</h1>
    <p class="lead">Riddlr is a revolutionary social platform which aims to pull the ancient art 
      of riddle-telling into the 21st century. Our use of sans-serif fonts looks to the future 
      while our minimalist design and gentle colour palette harkens back to the riddle's ancient 
      Greek heritage. </p>
    <p class="lead">Riddlr was developed by Rory Barnett, Christopher Gregory, Marc Herbert and 
      Faizan Mohamed.</p>
      <a href="https://github.com/rozab/riddlr_project" class="btn btn-outline-dark">Visit us on GitHub</a>
  </div>
  <img src="{% static 'img/bridgekeeper.jpg' %}">
  <div class="margin"></div>
{% endblock %}