{% extends 'riddlr/base.html' %}

{% load staticfiles %}
{% block headcontent %}
<link rel="stylesheet" href="{% static 'css/add_riddle.css' %}">
{% endblock %}

{% block title_block %}
    Add a riddle
{% endblock %}

{% block body_block %}
    <div id="left-margin"></div>

    <div id="inner-content">
        <h1>Create a new riddle</h1>
        <form id="RiddleForm" method="post" action="{% url 'add_riddle' %}">
            {% csrf_token %}

            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}

            <div class="form-field">
                <textarea class="form-control rounded-0" placeholder="Enter the question here" name="question" rows="7" required></textarea>
            </div>

            <div class="form-field">
                <input type="text" class="form-control rounded-0" placeholder="Enter the answer here" name="answer" required>
                <small class="form-text text-muted">You can enter multiple answers in a comma-seperated list.</small>
            </div>

            <div class="form-field">
                <p>How hard do you think your riddle is?</p>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="difficulty" id="easyRadio" value="25">
                    <label class="form-check-label" for="easyRadio">Easy</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="difficulty" id="mediumRadio" value="75" checked>
                    <label class="form-check-label" for="mediumRadio">Medium</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="difficulty" id="hardRadio" value="125">
                    <label class="form-check-label" for="hardRadio">Hard</label>
                </div>
            </div>

            <div class="form-field">
                <button type="submit" class="btn btn-outline-dark" name="submit">Submit</button>
            </div>
        </form>
        <br>
        <a href="{% url 'help' %}">How to make a good riddle</a>
    </div>

    <div id="right-margin"></div>
{% endblock %}