<!DOCTYPE html>
{% load staticfiles %}
{% load riddlr_template_tags %}
<html>
<head lang="en">
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>
        Riddlr - {% block title_block %} How to Riddle with Riddlr! {% endblock %}
    </title>
</head>

<body>
    <div>
        <ul>
            <li>
                <a href="{% url 'home' %}">Homepage | </a>
                <a href="{% url 'top_riddles' %}">Top Riddles | </a>
                <a href="{% url 'recent_riddles' %}">Recent Riddles | </a>
                <a href="{% url 'about' %}">About</a>
                <a href="{% url 'add_riddle' %}">Add a New Riddle</a>
            </li>
            {% if user.is_authenticated %}
            <li>
                <a href="{% url 'user' user.username %}">My Account</a>
            </li>
            <li>
                <a href="{% url 'logout' %}">Logout</a>
            </li>
            {% else %}
            </li>
            <li>
                <a href="{% url 'login' %}">Sign In</a>
            </li>
            <li>
                <a href="{% url 'register' %}">Sign Up</a>
            </li>
            {% endif %}
        </ul>

    </div>
    <div>
        {% block body_block %} {% endblock %}
    </div>
    <hr />

</body>
</html>