{% extends 'riddlr/base.html' %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% block title_block %}
Homepage
{% endblock %}

{% block body_block %}

</div>
    <div id="contentbox">
        <div class="contentpanel">
            <h2>Top Riddles</h2>

            {% if top_riddles %}
            <ul>
                {% for riddle in top_riddles %}
                <li>
                    <div class="card">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <a href="{% url 'riddle' riddle.id %}">
                                {{ riddle.question }}
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                {% endfor %}
            </ul>
            {% else %}
            <strong>There are no Top Riddles present.</strong>
            {% endif %}
        </div>
        <div class="contentpanel">
            <h2> Recent Riddles </h2>
            {% if riddles %}
            <ul>
                {% for riddle in riddles %}
                <!-- Following line changed to add an HTML hyperlink -->
                <li>
                    <div class="card">
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item">CHANGEME</li>
                      </ul>
                    </div>
                    <!-- CHANGE ME WHEN READY  -->

                </li>
                {% endfor %}
            </ul>
            {% else %}
            <strong>There are no Recent Riddles present.</strong>
            {% endif %}
        </div>



        <div class="contentpanel">
            <h3> Top Riddlrs </h3>
            {% if riddles %}
            <ul>
                {% for riddle in riddles %}
                <!-- Following line changed to add an HTML hyperlink -->
                <li>
                    <div class="card">
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item">CHANGEME</li>
                      </ul>
                    </div>
                    <!-- CHANGE ME WHEN READY  -->

                </li>
                {% endfor %}
            </ul>
            {% else %}
            <strong>There are no Riddlrs present.</strong>
            {% endif %}
        </div>
    </div>
{% endblock %}
