{% extends 'riddlr/base.html' %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link  rel="stylesheet" style=""text/css" href="./style.css">
{% load staticfiles %}
{% block title_block %}
Homepage
{% endblock %}

{% block body_block %}
<style type="text/css">



  #contentbox {
      display: flex;
  }


  .contentpanel {
    flex: 1 1 auto;

    padding: 20px 20px 20px 20px;
    margin: 20px 20px 20px 20px;
    width: 500px;
    height: 1000px;
    border-width: 5px;

    border-radius: 30px ;
    border-color: rgba(0, 0, 0, 0.5);
    border-style: solid;
    text-align: center;


  }
  div.shift-right{
      float: left;
      width: 300px;
  }

  </style>

</div>
    <div id="contentbox">
        <div class="contentpanel">
            <h2>Top Riddles</h2>

            {% if top_riddles %}
            <ul>
                {% for riddle in top_riddles %}
                <!-- Following line changed to add an HTML hyperlink -->
                <li>
                    <div class="card">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <a href="{% url 'riddle' riddle.id %}">
                                {{ riddle.question }}
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                {% endfor %}
            </ul>
            {% else %}
            <strong>There are no Top Riddles present.</strong>
            {% endif %}
        </div>
        <div class="contentpanel">
            <h2> Recent Riddles </h2>
            {% if riddles %}
            <ul>
                {% for riddle in riddles %}
                <!-- Following line changed to add an HTML hyperlink -->
                <li>
                    <div class="card">
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item">CHANGEME</li>
                      </ul>
                    </div>
                    <!-- CHANGE ME WHEN READY  -->

                </li>
                {% endfor %}
            </ul>
            {% else %}
            <strong>There are no Recent Riddles present.</strong>
            {% endif %}
        </div>



        <div class="contentpanel">
            <h3> Top Riddlrs </h3>
            {% if riddles %}
            <ul>
                {% for riddle in riddles %}
                <!-- Following line changed to add an HTML hyperlink -->
                <li>
                    <div class="card">
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item">CHANGEME</li>
                      </ul>
                    </div>
                    <!-- CHANGE ME WHEN READY  -->

                </li>
                {% endfor %}
            </ul>
            {% else %}
            <strong>There are no Riddlrs present.</strong>
            {% endif %}
        </div>
    </div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{% endblock %}
