{% extends 'riddlr/base.html' %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% block title_block %}
Home
{% endblock %}

{% block body_block %}
<div id="contentbox">

    <div class="card contentpanel">
        <div class="card-header">
            Top Riddles
            <span><a href="{% url 'top_riddles' %}">See all</a></span>
        </div>
        <div class="card-block">
            {% if top_riddles %}
                <ul>
                    {% for riddle in top_riddles %}
                        <li>
                            <a href="{% url 'riddle' riddle.id %}">
                                {{ riddle.question }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <strong>There are no riddles present :(</strong>
            {% endif %}
        </div>
    </div>

    <div class="card contentpanel">
        <div class="card-header">
            Recent Riddles
            <span><a href="{% url 'recent_riddles' %}">See all</a></span>
        </div>
        <div class="card-block">
            {% if recent_riddles %}
                <ul>
                    {% for riddle in recent_riddles %}
                        <li>
                            <a href="{% url 'riddle' riddle.id %}">
                                {{ riddle.question }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <strong>There are no riddles present :(</strong>
            {% endif %}
        </div>
    </div>
    
    <div class="card contentpanel" id="top_riddlrs">
        <div class="card-header">
            Top Riddlrs
            <span><a href="{% url 'users' %}">See all</a></span>
        </div>
        <div class="card-block">
            {% if top_riddlrs %}
                <ul>
                    {% for riddlr in top_riddlrs %}
                        <li>
                            {% if riddlr.picture %}
                                <img src="{{ riddlr.picture.url }}">
                            {% else %}
                                <img src="{% static 'img/default.png' %}">
                            {% endif %}
                            <div class="infocard">
                                <span class="name"><a href="{% url 'user' riddlr.user.username %}">{{ riddlr.user.username }}</a></span>
                                <span>score: {{ riddlr.score }}</span>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <strong>There are no riddlrs present :(</strong>
            {% endif %}
        </div>
    </div>

</div>
{% endblock %}
