{% extends 'riddlr/base.html' %}

{% load staticfiles %}
{% block headcontent %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block title_block %}
    Log in
{% endblock %}

{% block body_block %}
    <div id="left-margin"></div>

    <div id="inner-content">
        <h1>Log in to your riddlr account</h1>
        <form id="login_form" method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <input type="text" class="form-control rounded-0" placeholder="Username" name="username">
            <input type="password" class="form-control rounded-0" placeholder="Password" name="password">
            <button type="submit" class="btn btn-outline-dark" name="submit">Log in</button>
            <small class="text-muted">or <a href="{% url 'register' %}">create an account</a></small>
        </form>
    </div>

    <div id="right-margin"></div>
{% endblock %}