{% extends 'riddlr/base.html' %}

{% load staticfiles %}
{% block title_block %}
Recent Riddles
{% endblock %}

{% block body_block %}
<div id="contentbox">

        <div class="card contentpanel">
        <div class="card-header">
            Recent Riddles
            <span><a href="{% url 'recent_riddles' %}">See all</a></span>
        </div>
        <div class="card-block">
            {% if recent_riddles %}
                <ul>
                    {% for riddle in recent_riddles %}
                        <li>
                            <a href="{% url 'riddle' riddle.id %}">
                                {{ riddle.question }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <strong>There are no riddles present :(</strong>
            {% endif %}
        </div>
    </div>
</div>
{%  endblock %}