{% extends 'riddlr/base.html' %}

{% load staticfiles %}
{% block title_block %}
    Register
{% endblock %}

{% block body_block %}
    <h1>Register for Riddlr</h1>
    {% if registered %}
        registered
        <a href="{% url 'home' %}">Return home</a><br />
    {% else %}
        <strong>Register here</strong>
        <form id="user_form" method="post" action="{% url 'register' %}" enctype="multipart/form-data">
        {% csrf_token %}
        {{user_form.as_p}}
        {{profile_form.as_p}}
        <input type="submit" name="submit" value="Register" />
    </form>
    {% endif %}
{% endblock %}