{% extends 'riddlr/base.html' %}

{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% block title_block %}
Top Riddles
{% endblock %}

{% block body_block %}

<div id="contentbox">

    <div class="card contentpanel">
        <div class="card-header">
            Top Riddles
            <form action="" method="GET" id="selection-form">
            {% csrf_token %}
                <select id="sort">
                    <option value="riddle.difficulty }}">Filter by difficulty</option>
                    <option value="riddle.date_posted }}">Filter by date</option>
                    <option value="riddle.rating }}">Filter by rating</option>#  javascript to sort riddles?
                </select>
            <input type="button" value="Update" id="selection-button">
            </form>
            <span><a href="{% url 'riddles' %}">See all</a></span>


        </div>
        <div class="card-block">
            {% if riddles %}
                <ul>
                    {% for riddle in riddles %}
                        <li>
                            <a href="{% url 'riddle' riddle.id %}">
                                {{ riddle.question }} <br />
                            </a>
                            <br />
                            Date Posted:{{ riddle.date_posted }}<br />
                            Difficulty: {{ riddle.difficulty }}<br />
                            Rating: {{ riddle.rating }}<br />
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <strong>There are no riddles present :(</strong>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}