{% extends 'riddlr/base.html' %}

{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% block title_block %}
Top Riddles
{% endblock %}

{% block body_block %}

<div id="contentbox">

    <div class="card contentpanel">
        <div class="card-header">
            Top Riddles

            <select>
                <option value="Difficulty">Filter by difficulty</option>
                <option value="Date">Filter by date</option>
                <option value="Rating">Filter by rating</option>#  javascript to sort riddles?
            </select>

            <span><a href="{% url 'riddles' %}">See all</a></span>


        </div>
        <div class="card-block">
            {% if riddles %}
                <ul>
                    {% for riddle in riddles %}
                        <li>
                            <a href="{% url 'riddle' riddle.id %}">
                                {{ riddle.question }}
                                {{ riddle.date_posted }}
                                {{ riddle.difficulty }}
                                {{ riddle.rating }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <strong>There are no riddles present :(</strong>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}