{% extends 'riddlr/base.html' %}

{% load staticfiles %}
{% block headcontent %}
    <link rel="stylesheet" href="{% static 'css/riddle.css' %}">
{% endblock %}

{% block title_block %}
    View Riddle
{% endblock %}

{% block body_block %}
    <div id="left-margin"></div>

    <div id="inner-content">
        <div id="author">
            {% if riddle.author.userprofile.picture %}
                <img src="{{ riddle.author.userprofile.picture.url }}">
            {% else %}
                <img src="{% static 'img/default.png' %}">
            {% endif %}
            <span><a href="{% url 'user' riddle.author.username %}">{{ riddle.author.username }}</a> asked...</span>
        </div>

        <div id="question">
            {{ riddle.question }}
        </div>

        {% if user.is_authenticated %}
            {% if useranswer.correct %}
                <input type="text" class="form-control rounded-0" placeholder="{{ useranswer.answer }}">
                <div class="resultbox correct">
                    <img src="{% static 'img/tick.png' %}">
                </div>
            {% else %}
                <form id="answer-form" method="post" action=".">
                    {% csrf_token %}
                    <input type="text" class="form-control rounded-0" placeholder="{{ useranswer.answer }}" name="answer">
                    {% if useranswer.num_tries > 0 %}
                        <div class="resultbox incorrect">
                            <img src="{% static 'img/cross.png' %}">
                        </div>
                    {% endif %}
                    <button type="submit" class="btn btn-outline-dark" name="submit">Submit</button>
                </form>
            {% endif %}
        {% else %}
                <div id="login-prompt">
                    <a href="{% url 'login' %}" class="btn btn-outline-dark">Log In</a>
                    <span> to answer this riddle</span>
                </div>
        {% endif%}
    </div>

    <div id="right-margin"></div>
{% endblock %}