{% extends 'riddlr/base.html' %}

{% load staticfiles %}
{% block headcontent %}
    <link rel="stylesheet" href="{% static 'css/riddles.css' %}">
{% endblock %}

{% block title_block %}
    Top Riddles
{% endblock %}

{% block body_block %}
<div id="left-margin"></div>

    <div id="inner-content">
        <div id="titlebar">
            <h1>Top Riddles</h1>
            <form action="" method="get">
                <select class="form-control" onchange="form.submit()" name="difficulty_pt">
                    <option>Select a difficulty...</option>
                    <option value="easy" {% if request.GET.difficulty_pt == "easy" %}selected{% endif %}>Easy</option>
                    <option value="medium" {% if request.GET.difficulty_pt == "medium" %}selected{% endif %}>Medium</option>
                    <option value="hard" {% if request.GET.difficulty_pt == "hard" %}selected{% endif %}>Hard</option>
                </select>
            </form>
        </div>
        {% if filter.qs %}
        <ul id="results">
            {% for r in filter.qs %}
                <li>
                    <div class="details">
                            <a href="{% url 'riddle' r.id %}">{{ r.question }}</a>
                        <table>
                            <tr>
                                <td>Rating: {{ r.rating }}</td>
                                <td>Difficulty: {{ r.difficulty_pt }}</td>
                            </tr>
                            <tr>
                                <td>Answers: {{ r.num_answers }}</td>
                                <td>Posted {{ r.date_posted|date:"SHORT_DATE_FORMAT" }}</td>
                            </tr>
                        </table>
                    </div>
                </li>
            {% endfor %}
        </ul>
        {% else %}
        <br><br>
        <strong>Nothing here :(</strong>
        {% endif %}
    </div>

    <div id="right-margin"></div>
{% endblock %}