{% extends 'riddlr/base.html' %}
{% load guess_ratio %}

{% load staticfiles %}
{% block headcontent %}
<link rel="stylesheet" href="{% static 'css/users.css' %}">
{% endblock %}

{% block title_block %}
Top Riddlrs
{% endblock %}

{% block body_block %}
    <div id="left-margin"></div>

    <div id="inner-content">
        <div id="titlebar">
            <h1>Top Riddlrs</h1>
            <input class="form-control" type="search" placeholder="Search" aria-label="Search">
        </div>
        <ul id="results">
            {% for u in users %}
                <li>
                    {% if riddlr.picture %}
                        <img src="{{ riddlr.picture.url }}">
                    {% else %}
                        <img src="{% static 'img/default.png' %}">
                    {% endif %}
                    <div class="details">
                            <a href="{% url 'user' u.user.username %}">{{ u.user.username }}</a>
                        <table>
                            <tr>
                                <td>Score: {{ u.score }}</td>
                                <td>Guess Ratio: {% guess_ratio u.guess_ratio %}</td>
                            </tr>
                            <tr>
                                <td>Karma: {{ u.karma }}</td>
                                <td>Joined {{ u.date_joined|date:"SHORT_DATE_FORMAT" }}</td>
                            </tr>
                        </table>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>

    <div id="right-margin"></div>
{% endblock %}