{% extends 'riddlr/base.html' %}
{% load guess_ratio %}

{% load staticfiles %}
{% block headcontent %}
<link rel="stylesheet" href="{% static 'css/users.css' %}">
{% endblock %}

{% block title_block %}
Top Riddlrs
{% endblock %}

{% block body_block %}
    <div id="left-margin"></div>

    <div id="inner-content">
        <div id="titlebar">
            <h1>Top Riddlrs</h1>
            <form action="" method="get">
                <div class="input-group">
                    <input class="form-control rounded-0" type="search" placeholder="Search" name="user__username">
                    <div class="input-group-append">
                        <button class="btn btn-outline-dark input-group-append" type="submit"><i class="fas fa-search"></i></button>
                    </div>
                </div>
            </form>
        </div>
        <ul id="results">
            {% for u in filter.qs %}
                <li>
                    {% if u.picture %}
                        <img src="{{ u.picture.url }}">
                    {% else %}
                        <img src="{% static 'img/default.png' %}">
                    {% endif %}
                    <div class="details">
                            <a href="{% url 'user' u.user.username %}">{{ u.user.username }}</a>
                        <table>
                            <tr>
                                <td>Score: {{ u.score }}</td>
                                <td>Guess Ratio: {% guess_ratio u.guess_ratio %}</td>
                            </tr>
                            <tr>
                                <td>Karma: {{ u.karma }}</td>
                                <td>Joined {{ u.date_joined|date:"SHORT_DATE_FORMAT" }}</td>
                            </tr>
                        </table>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>

    <div id="right-margin"></div>
{% endblock %}