{% extends 'riddlr/base.html' %}

{% load staticfiles %}
{% block headcontent %}
<link rel="stylesheet" href="{% static 'css/user.css' %}">
{% endblock %}

{% block title_block %}
{{ username }}'s Profile
{% endblock %}

{% block body_block %}
<div id="userinfo">
    <div id="userbadge">
        {% if userprofile.picture %}
            <img src="{{ userprofile.picture.url }}">
        {% else %}
            <img src="{% static 'img/default.png' %}">
        {% endif %}
        <span>
            <p>{{ userprofile.user.username }}</p>
            {% if userprofile.user.username == user.username %}
                <a class="btn btn-outline-dark btn-sm" role="button">Change picture</a>
            {% endif %}
        </span>
    </div>
    <div id="userdetails">
        Score: {{ userprofile.score }} <br>
        Karma: {{ userprofile.karma }} <br>
        Guess Ratio: {{ userprofile.guess_ratio|floatformat:"0" }}% <br>
        Joined {{ userprofile.date_joined|date:"d F Y" }} <br>
    </div>
</div>
    
<div id="listpanels">
    <div class="card contentpanel">
        <div class="card-header">
            {{ username }}'s Top Riddles
        </div>
        <div class="card-block">
            {% if top_riddles %}
                <ul>
                    {% for riddle in top_riddles %}
                        <li>
                            <a href="{% url 'riddle' riddle.id %}">
                                {{ riddle.question }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <strong>This user hasn't made any riddles :(</strong>
            {% endif %}
        </div>
    </div>
    <div class="card contentpanel">
        <div class="card-header">
            {{ username }}'s Recent Riddles
        </div>
        <div class="card-block">
            {% if recent_riddles %}
                <ul>
                    {% for riddle in recent_riddles %}
                        <li>
                            <a href="{% url 'riddle' riddle.id %}">
                                {{ riddle.question }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <strong>This user hasn't made any riddles :(</strong>
            {% endif %}
        </div>
    </div>
    <div class="card contentpanel">
        <div class="card-header">
            {{ username }}'s Solved Riddles
        </div>
        <div class="card-block">
            {% if solved_answers %}
                <ul>
                    {% for answer in solved_answers %}
                        <li>
                            <a href="{% url 'riddle' answer.riddle.id %}">
                                {{ answer.riddle.question }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <strong>This user hasn't solved any riddles :(</strong>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}